html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}

#topLeft{
	background-color: green;
}

#topRight{
	background-color: blue;
}

#bottomLeft{
	background-color: red;
}

#bottomRight{
	background-color: yellow;
}

.select2 {
  width: 100%!important; /* overrides computed width, 100px in your demo */
}